@{
    ViewData["Title"] = "Index";
}
@section css
{
    <style>
        h1 {
            color: brown;
        }
    </style>
}
<body>
    <h1 id="h11" onclick="hc1()">Index</h1>

    @section Scripts
    {
        <script>
            function hc1() {
                window.alert("??")
            }
        </script>
    }
</body>