@{
    ViewData["Title"] = "Index2";
}
<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <form action="~/API/Index4" id="form1">
            <div class="mb-3">
                <label for="InputName" class="form-label">姓名</label>
                <input type="text" class="form-control" id="InputName" name="Name" onchange="txtch1()">
                <div id="div1"></div>
            </div>
            <div class="mb-3">
                <label for="InputEmail" class="form-label">電子郵件</label>
                <input type="email" class="form-control" id="InputEmail" name="Email">
            </div>
            <div class="mb-3">
                <label for="InputPassword" class="form-label">密碼</label>
                <input type="password" class="form-control" id="InputPassword" name="Password" onchange="paw()">
                <div id="div3"></div>
            </div>     
            <div class="mb-3">
                <label for="InputPassword2" class="form-label">密碼確認</label>
                <input type="password" class="form-control" id="InputPassword2" name="Password2" onchange="paw()">
                <div id="div4"></div>
           </div>         
            <div class="mb-3">
                <label for="InputAge" class="form-label">年紀</label>
                <input type="number" class="form-control" id="InputAge" name="Age">
            </div>
            <div class="mb-3">
                <label for="formFile" class="form-label">選擇圖片</label>
                <input class="form-control" type="file" id="formFile" name="fil">
            </div>
            <button type="button" class="btn btn-primary" id="bu1" onclick="go()">送出</button>
        </form>
    </div>
    <script>
        bu1.setAttribute("disabled", "");
        var bool1 = false
        var bool2 = false
        function bool0() 
        {
            if (bool1 && bool2) bu1.removeAttribute("disabled");
            else bu1.setAttribute("disabled", "");
        }
        async function txtch1() {
            var a = await fetch(`@Url.Content("~/HW/Index2API")/${InputName.value}`)
            var b = await a.text()
            if (b == "o") {
                div1.innerHTML = `<label style="color:green;">OK</label>`;
                InputName.style.borderColor = "green";
                bool1 = true
            }
            else {
                div1.innerHTML = `<label style="color:red;">已重複</label>`;
                InputName.style.borderColor = "red";
                bool1 = false
            }
            bool0()
        }
        function paw() {
            if (InputPassword.value == InputPassword2.value) {
                InputPassword.style.borderColor = "green";
                InputPassword2.style.borderColor = "green";
                div3.innerHTML = `<label style="color:green;">OK</label>`;
                div4.innerHTML = `<label style="color:green;">OK</label>`;
                bool2 = true
            }
            else {
                InputPassword.style.borderColor = "red";
                InputPassword2.style.borderColor = "red";
                div3.innerHTML = `<label style="color:red;">密碼不一致</label>`;
                div4.innerHTML = `<label style="color:red;">密碼不一致</label>`;
                bool2 = false
            }
            bool0()
        }
        async function go() {
            await txtch1()
            if (!bool1)return
            var c = new FormData(form1);
            //c.append("pas","123")
            var d = await fetch(`@Url.Content("~/API/Index4")`, { method: "POST", body: c })
            var e = await d.text()
            window.alert(e)
            await txtch1()
        }
    </script>
